XML and DTD/Sanchez_Adamuz_Antonio_LM_U2_T2DTD Rubric/ejercicio2.dtd

<!ELEMENT lettera (#PCDATA|cliente|ordine|responsable)*>
<!ELEMENT cliente (#PCDATA)>
<!ELEMENT ordine (articolo+)>
<!ATTLIST ordine num CDATA #REQUIRED>
 <!ELEMENT articolo (codice, descr)>
       <!ELEMENT codice (#PCDATA)>
       <!ELEMENT descr (#PCDATA)>
<!ELEMENT responsable (#PCDATA| tit)*>		      
<!ELEMENT tit (#PCDATA)>


