XML and DTD/Sanchez_Adamuz_Antonio_LM_U2_T3/ejercicio1 schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="Document">
   <xsd:complextype>
     <xsd:sequence>
      <xsd:element name="Member" MinOccurs="1" maxOccurs="unbounded">
       <xsd:complextype>
        <xsd:sequence>
          <xsd:element name="name" type="xs_string"/>
           <xsd:element 
